
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    background-color: #dddddd;
}

header {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    width: 100vw;
    background-color: grey;
    vertical-align: middle;
    border-bottom: 3px solid red;
}

footer {
    height: 16vh;
    width: 100vw;
    background-color: red;
    color: white;
    text-align: center;
    vertical-align: middle;
}

footer p {
    padding: 1em 0;
}

header h1 {
    margin: 1em 2em;
    color: white;
}

nav ul {
    margin: 2em;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:active {
    color: red;
}

.paper-layout-section {
    display: flex;
    background-color: #dddddd;
    flex-direction: column;
    margin: 0 1em;
}

.paper-layout-section h1 {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 1em 0;
    margin-top: 1em;
}

.paper-card-container {
    display: flex;
    margin-top: 1em;
    align-items: row;
    justify-content: space-around;
}

.card {
    width: 50vw;
    padding: 1em;
}

.card-shadow {
    box-shadow: 5px 5px 25px gray;
}

.card-single {
    width: 90vw;
    padding: 1em;
    background: white;
}

.card-side {
    width: 15vw;
    padding: 1em;
    background: white;
}

.card-middle {
    width: 50vw;
    padding: 1em;
    background: white;
}

.info {
    background-color: darkblue;
    color: white;
    padding: 1em;
}

.info h2 {
    margin: 1em 0;
}

.vcont {
    display: flex; 
}

.overlay {
    position:absolute;
    align-self: flex-end;
    z-index:2;
    display: none;
}

.overlayinfo {
    background-color:rgba(0,0,0,0.5);
}

/* Media Queries */
@media(max-width: 1280px) {
    .icard {
        width: 30vw;
    }

    .vcard {
        width: 70vw;
    }
}

@media(max-width: 900px) {
    .paper-card-container {
        flex-direction: column;
        margin-top: 0;
    }

    .card, .card-side, .card-middle {
        width: 90vw;
    }
}

@media(max-width: 700px) {
    header {
        height: 9em;
        text-align: center;
        flex-direction: column;
    }

    header h1 {
        margin-bottom: 0;
    }
}

@media(max-height: 640px) {
    footer {
        height: 9em;
    }
}

